a {font-size:60px; text-decoration:none; color:whitesmoke;}
div {text-align:center;}
body {margin:0px;}
.nature {padding:70px;}
#Space {background-color: rgb(8, 1, 17);}
#Sea {background-color:powderblue;}
#Forest {background-color:forestgreen;}
#Desert {background-color:goldenrod;}
